@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.shack {
  width: 100%;
}

header h1 {
  padding: .5em;
  margin: 0;
  font-family: "Chelsea Market", cursive;
  text-align: center;
  color: #fff;
  background-color: #099;
  font-size: 2.5rem;
  border-bottom: 5px solid #c60;
}

li,
header li {
  list-style-type: none;
}

header nav {
  font-family: Poppins, sans-serif;
}

header nav a {
  display: block;
  padding: .5em .75em;
  text-decoration: none;
  color: #000;
}

.links {
  padding: 16px;
  margin: 0;
}

nav li {
  text-align: left;
}

h2 {
  margin-bottom: 5px;
  color: #c60;
}

h2, h3 {
  font-family: Poppins, sans-serif;
}

.intro {
  margin-top: 0;
  font-size: 1.125rem;
}

.about-tacos {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 25px;
}

.tacos {
  padding: 0;
}

.fish,
.chicken,
.veggie {
  width: 50px;
}

.img,
.words {
  display: inline-block;
}

.img {
  padding-right: 10px;
  width: 24%;
}

.words {
  width: 74%;
  margin-bottom: 16px;
}

.bum {
  font-size: .8125rem;
  margin: 2px 0 12px;
}

h3 {
  margin: 0;
}

#catering {
  padding-bottom: 2em;
  background-color: lightgrey;
}

#catering h2 {
  margin-top: 0;
  padding-top: 1em;
}

.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #099;
}

.btn:hover {
  background-color: #c60;
}

.john {
  width: 49%;
}

footer {
  margin: 0;
  padding: 1em;
  background-color: #099;
  color: #fff;
  font-family: Poppins, sans-serif;
  text-align: center;
  overflow: hidden;
}

.footer {
  padding: 0;
  width: 25%;
  margin: auto;
}

footer li {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: lightgrey;
}

nav a:hover {
  color: #c60;
}

section {
  padding: 0 16px;
  margin-bottom: 2em;
}

.fb {
  float: left;
  width: 40%;
}

.twit {
  float: right;
  width: 40%;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  nav li {
    display: inline-block;
    text-align: center;
  }

  header li:nth-child(1),
  header li:nth-child(3) {
    float: left;
    width: 50%;
  }

  header li:nth-child(2),
  header li:nth-child(4) {
    float: right;
    width: 50%;
  }

  .img {
    width: 5.5em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header li:nth-child(1),
  header li:nth-child(2),
  header li:nth-child(3),
  header li:nth-child(4) {
    float: left;
    width: 25%;
  }

  .type {
    display: inline-block;
    width: 32%;
  }

  .words {
    width: 100%;
  }

  .img {
    display: block;
    margin: auto;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    background-color: #099;
    border-bottom: 5px solid #c60;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  nav {
    float: right;
    width: auto;
  }

  header nav a {
    color: #fff;
  }

  header h1 {
    margin: 0;
    border-bottom: none;
  }

  header li:nth-child(1),
  header li:nth-child(2),
  header li:nth-child(3),
  header li:nth-child(4) {
    float: right;
    width: auto;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
